<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
    $(function(){
        $('.song_name a').click(function(e){
            e.preventDefault();
            var v = $(this).attr('href');
            $('#link').val(v);
            $('#linka').attr('href',v)
        })
        
        $('table').addClass('table table-condensed table-hover table-bordered');
        $('.song_act').remove();
    })
    </script>
 </head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span3">
                    <b>使用方法:</b><br />
					1、输入歌名，歌手，点击查询<br />
					2、猛击正确的歌曲的 歌名链接<br />
					3、上传歌曲，选择需要上传的mp3<br />
					4、点击“抓取并上传”按钮, 然后等。。。看你网速了<br />
                    <form class="" action="/admin/search">
                        <div class="control-group">
                             <label class="control-label" for="inputEmail">歌名</label>
                            <div class="controls">
                                <input id="songName" name="songName" type="text" value="$!{songName}"/>
                            </div>
                        </div>
                        <div class="control-group">
                             <label class="control-label" for="inputPassword">歌手</label>
                            <div class="controls">
                                <input id="artist" name="artist" type="text" value="$!{artist}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                 <button type="submit" class="btn">查询</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span4">
                     $!{searchResult}
                </div>
                <div class="span3">
                    <form class="" action="/admin/catch" method="POST" enctype="multipart/form-data">
                        <div class="control-group">
                             <label class="control-label" for="artist">选择歌曲上传</label>
                            <div class="controls">
                                <input id="mp3" name="mp3" type="file" />
                            </div>
                        </div>
                        <div class="control-group">
                             <label class="control-label" for="link">虾米链接</label>
                            <div class="controls">
                                <input id="link" name="link" type="text" />
                            </div>
                        </div>
                        <div class="control-group">
                             <label class="control-label" for="link">打开虾米链接</label>
                            <div class="controls">
                                <a target='_blank' id="linka" href="">打开看看？</a>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">抓取并上传</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- special  -->
</html>
